* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(210, 210, 210);
  
}
.Head{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url("./MasterPiece-Pic/contact/image\ \(9\).jpg");
    position: relative;
    background-size: cover;
    background-position: center;
}

.navFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 65, 144, 0.8) 100%) ;
    background: linear-gradient(0deg, rgba(52, 92, 142, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);  
}

.Logo{
    width: 70px;
    height: 70px;
}
nav li {
    list-style: none;
    display: inline-block;
    padding: 8px 0px;
    color: white;
    cursor: pointer;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 24px;
    color: white;
}
nav ul li a{
    color: white;
    transition: 0.5s;
}

nav ul li a:hover, .active{
    color: orange;
}
.Welcome{
    text-align: center;
    margin: 7% 0 0 0;
    color: white;
    padding: 40px 0px;
    font-size: 90px;
}

.Welcome::before {
    content: "About";
    animation: animate infinite 20s;
    padding-left: 10px;
}

@keyframes animate {

    0% {
        content: "About";
        color:orange;
    }

    50% {
        content: "About";
        color: rgb(251, 213, 0);
    }

    75% {
        content: "About";
        color: orange;
    }
}

.contactHead{
    text-align: center;
    color: aliceblue;
    font-size: 22px;
}
.contactHead p:nth-child(4){
    padding-top: 1%;
}

.contactHead p{
padding: 5px;
}

.contactHead p span{
    color: orange;
    }
    

/* /////////////////////////////////////////// */

.footer{
    padding: 0 80px 0 80px;
}
.ftr{

}
 .footerFlex{
    display: flex;
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
    justify-content:space-between;
    padding:0 0 0 0;
    background: linear-gradient(0deg, rgba(52, 92, 142, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);  
    align-items: center;

 }
 .footer p{
padding:  10px 0 0 0;
 }
 .logofoot{
    padding: 0 0 0 80px;
 }

 .myLogo{
    margin: 0 0 0 36%;
 }
 .iconsFo{
    color: rgb(255, 255, 255);
    font-size: 22px;
 }
 .fa-brands{
    padding: 0 10px 0 10px;
    transition: 0.5s;
 }
.fa-regular{
    padding: 0 10px 0 10px;
    transition: 0.5s;
}
.iconsFo a{
text-decoration: none;
color: white
}

.fa-brands:hover{
    cursor: pointer;
    scale: 1.3;
    color: #ffae00;
 }
.fa-regular:hover{
    cursor: pointer;
    scale: 1.3;
    color: #ffae00;
}
